.input-group {
	margin: 1em 0;
}

.a-gib{
	float:right;
}

.navbar-text {
	margin-top: 2%;
}

footer {
	margin-top: 3em;
	border-top: solid 1px #ccc;
	padding-top: 2em;
}

.s_enlaces{
	max-width: 300px;
	margin-top: 3em;
}